{% extends "../base.html" %}

{% block title %}Gestión de empleados{% endblock %}

{% block body %}
<div class="row offset-md-1">
    <div class="">
        <h1>Listado de empleados</h1>
        {% if empleados %}
        <div class="table-responsive py-4">
            <table class="table table-striped table-hover rwd_auto ">
                <thead>
                    <tr>
                        <th>Rol del usuario</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Genero</th>
                        <th>Correo</th>
                        <th>Numero Celular</th>
                        <th>Salario</th>
                        <th>Ciudad</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{% if empleado.user.groups.all.0.name == 'Administradores' %} Administrador {% else %} Empleado {% endif %}</td>
                        <td>{{ empleado.identification }}</td>
                        <td>{{ empleado.name }}</td>
                        <td>{{ empleado.gender }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>{{ empleado.numberphone }}</td>
                        <td>$ {{ empleado.salary }}</td>
                        <td>{{ empleado.city }}</td>
                        <td><a href="{% url 'empleado_actualizar' empleado.employee_id  %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'empleado_eliminar' empleado.employee_id  %}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <a href="{% url 'empleado_agregar' %}" class="btn btn-info">Crear</a> 
    </div>
</div>
{% endblock %}