{% extends "../base.html" %}

{% block title %}Gestión de empleado{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar empleado</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'empleado_actualizar' employee.employee_id %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="employee_id" name="employee_id" value="{{employee.employee_id}}" class="form-control" hidden required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="identification" name="identification" value="{{employee.identification}}" class="form-control" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="name" name="name" value="{{employee.name}}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" name="email" value="{{employee.email}}" class="form-control" value="1" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numberphone" name="numberphone" value="{{employee.numberphone}}" class="form-control" value="1" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="salary" name="salary" value="{{employee.salary}}" class="form-control" min="1" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="city" name="city" value="{{employee.city}}" class="form-control" value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}