{% extends "../base.html" %}

{% block title %} Principal{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Eliminar empleado</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'empleado_eliminar' employee.employee_id %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="employee_id" name="employee_id" value="{{employee.employee_id}}" class="form-control" hidden required>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Esta seguro que desea eliminar el empleado {{employee.name }} - {{employee.identification }}
                      </div>
                    <div class="form-group">
                        <button type="submit" type="button" class="btn btn-danger" >Aceptar</button>
                        <a href="{% url 'listar_empleados' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}