{% extends "../base.html" %}

{% block title %}Gestión de horario{% endblock %}

{% block body %}

<div class="row offset-md-1">
    <div class="">
        <h1>Listado de horarios</h1>
        {% if horarios %}
        <div class="table-responsive py-4">
            <table class="table table-striped table-hover rwd_auto ">
                <thead>
                    <tr>
                        <th>Nombre empleado</th>
                        <th>Fecha</th>
                        <th>Hora de entrada</th>
                        <th>Hora de salida</th>
                        <th>Es festivo?</th>
                        <th>Total horas</th>
                        <th>Valor horas</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% for horario in horarios %}
                  <tr>
                      <td>{{ horario.employee.name }}</td>
                      <td>{{ horario.date_reg|date:'d/m/Y' }}</td>
                      <td>{{ horario.entry_time }}</td>
                      <td>{{ horario.departure_time }}</td>
                      <td>{%if horario.holiday == False %}No{%elif horario.holiday == True %}Si{%endif%}</td>
                      <td>{{ horario.total_hours|floatformat:'2' }}</td>
                      <td>$ {{ horario.valor_hours|floatformat:2 }}</td>
                      <td><a href="{% url 'horario_actualizar' horario.id  %}" class="btn btn-info">Editar</a></td>
                      <td><a href="{% url 'horario_eliminar' horario.id  %}" class="btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
        {%endif%}
        <a href="{% url 'horario_agregar' %}" class="btn btn-info">Crear</a> 
    </div>
</div>
{% endblock %}