{% extends "../base.html" %}

{% block title %} Principal{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Eliminar horario</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'horario_eliminar' horarios.id %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="id" name="id" value="{{horarios.id}}" class="form-control" hidden required>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Esta seguro que desea eliminar el horario para el empleado {{ horarios.employee.name }} - {{ horarios.employee.identification }} horario  {{ horarios.entry_time }} - {{ horarios.departure_time }}
                      </div>
                    <div class="form-group">
                        <button type="submit" type="button" class="btn btn-danger" >Aceptar</button>
                        <a href="{% url 'listar_horarios' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}