
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    {{empleados}}
    <ul>
        {% for empleado in empleados %}
            <li>
                {{ empleado.name }}
                <a href="{% url 'employee_detail' empleado.identification %}">View</a>
                <a href="{% url 'employee_edit' empleado.identification %}">Edit</a>
                <a href="{% url 'employee_delete' empleado.identification %}" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a>
            </li>
        {% empty %}
            <li>No employees available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'empleado_agregar' %}">Add Employee</a>
</body>
</html>