{% extends "./base.html" %}

{% block title %} Gestión de empleados{% endblock %}

{% block body %}
<div class="row offset-md-1">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <h2>Gestión de empleados</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'empleado_agregar' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="identification"  name="identification" class="form-control" placeholder="Identificación" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="name"  name="name" class="form-control" placeholder="Nombre Empleado" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <select name="gender" id="gender" class="form-control" required>
                            <option value="">Seleccione una opción</option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email"  name="email" class="form-control"  placeholder="Correo" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="numberphone"  name="numberphone" class="form-control"  placeholder="Numero Celular" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="salary"  name="salary" class="form-control"  placeholder="Salario" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="city"  name="city" class="form-control"  placeholder="Ciudad" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}