{% extends "./base.html" %}
{% block title %} Gestión de horario{% endblock %}

{% block body %}
{{horarios}}
<div class="row offset-md-1">
    <div class="">
        <h1>Listado de horarios</h1>
        {% if horarios %}
        <div class="table-responsive py-4">
            <table class="table table-striped table-hover rwd_auto ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cedula empleado</th>
                        <th>Fecha de registro</th>
                        <th>Hora de entrada</th>
                        <th>Hora de salida</th>
                        <th>Es festivo?</th>
                        <th>Total horas</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in horarios %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ horarios.employee }}</td>
                        <td>{{ horarios.date_reg|date:'d/m/Y' }}</td>
                        <td>{{ horarios.entry_time|date:'hh:mm:ss' }}</td>
                        <td>{{ horarios.deperture_time|date:'hh:mm:ss' }}</td>
                        <td>{%if horarios.holiday == False %} No
                          {%elif horarios.holiday == True %} Si
                          {%endif%}</td>
                        <td>{{ horarios.totalHours }}</td>
                        <td><a href="#" class="btn btn-info">Editar</a></td>
                        <td><a href="# " class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <a href="#" class="btn btn-info">Crear</a> 
    </div>
</div>
{% endblock %}