{% extends "./base.html" %}

{% block title %}Gestión de Nónima{% endblock %}

{% block body %}
<h2>Gestión de Empleados</h2>
<h3>Bienvenido a la aplicación Gestion de empleados, usa el menú para navegar por medio de las opciones</h3>
<h4>Empleados</h4>
<h5>Ver, editar, eliminar y crear empleados</h5>
<h4>Horarios</h4>
<h5>Ver, editar, eliminar y crear horarios de los empleados</h5>
<h4>Nómina</h4>
<h5>Es el detalle de todos los horarios de los empleados</h5>
<h4>Reporte</h4>
<h5>Son los gráficos de la información de los horarios registrados</h5>
{% endblock %}