
<table>
    <tr>
        <td>Empleados</td>
        <td><label for="">Listar los empleados</label></td>
        <td><a href="{% url 'listar_detalle' %}" class="btn btn-info">Listar los empleados </a></td>
        <td><label for="">Crear empleados</label></td>
        <td><a href="{% url 'empleado_agregar' %}" class="btn btn-info"> Crear empleados </a></td>
        <td>Editar los empleados Falta por relacionar los id que se van en la URL</td>
        Eliminar los empleados Falta por relacionar los id que se van en la URL

        Detalle
        Listar el detalle lista pero falta:
            - no mostrar mas de un regisro la misma fecha

        Horarios
        Listar los horarios <td><a href="{% url 'listar_horarios' %}" class="btn btn-info"> listar horarios </a></td>
        Crear horarios <td><a href="{% url 'horario_agregar' %}" class="btn btn-info"> crear horarios </a></td>
        Editar horarios Falta
        Eliminar horarios Falta

        Crear reporte
        crear roles
        Fin
    </tr>
</table>