{% extends "../base.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% block title %}Informe de Nónima{% endblock %}

{% block body %}
    <h2>Gráficos</h2>
    <style>
        .chart-container {
            width: 25%; /* Divide el ancho en 4 para acomodar 4 gráficos en una fila */
            display: inline-block;
            padding: 10px;
        }
    </style>
<div class="chart-container">
        <canvas id="salaryAverageByGenderChart" width="400" height="200"></canvas>
        <label for="" id="context.genders" hidden>{{context.genders}}</label>
        <label for="" id="context.average_salaries" hidden>{{context.average_salaries}}</label>
    </div>

    <div class="chart-container">
        <canvas id="salaryTotalByMonthChart" width="400" height="200"></canvas>
        <label for="" id="campos" hidden>{{context.campos}}</label>
        <label for="" id="valor" hidden>{{context.valor}}</label>
    </div>

    <!-- <div class="chart-container">
        <canvas id="EmployeesByMonth" width="400" height="200"></canvas>
        <label for="" id="labels" hidden>{{context.labels}}</label>
        <label for="" id="data" hidden>{{context.data}}</label>
    </div> -->

    <div class="chart-container">
        <canvas id="totalsalarychart" width="400" height="200"></canvas>
        <label for="" id="total_salary" hidden>{{context.total_salary}}</label>
    </div>
    <div class="chart-container">
        <canvas id="AverageHoursByMonth" width="400" height="200"></canvas>
        <label for="" id="labels" hidden>{{context.labels}}</label>
        <label for="" id="data" hidden>{{context.data}}</label>
    </div>


<script>

var ctx = document.getElementById('salaryAverageByGenderChart').getContext('2d');

// Puedes acceder directamente a las variables que has pasado desde la vista
// var genders = document.getElementById('context.genders').textContent;
// var average_salaries = document.getElementById('context.average_salaries').textContent;

var genderSet = new Set(document.getElementById('context.genders').textContent);
var genderList = Array.from(genderSet);
var average_salariesset = document.getElementById('context.average_salaries').textContent
var average_salarieslist = Array.from(average_salariesset);

    var chart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: genderList,
    datasets: [{
      label: 'Salario Promedio por genero',
      data: average_salarieslist,
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

var ctx = document.getElementById('salaryTotalByMonthChart').getContext('2d');
var campos = document.getElementById('campos').textContent;
var valor = document.getElementById('valor').textContent;

    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: campos,
        datasets: [{
          label: 'Salario Total por mes',
          data: valor,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });




    // var ctx = document.getElementById('EmployeesByMonth').getContext('2d');
    //     var labels = document.getElementById('labels').textContent;
    //     var data = document.getElementById('valor').textContent;
    //     var chart = new Chart(ctx, {
    //         type: 'bar',
    //         data: {
    //             labels: labels,
    //             datasets: [{
    //                 label: 'Promedio de Horas',
    //                 data: data,
    //                 backgroundColor: 'rgba(75, 192, 192, 0.2)',
    //                 borderColor: 'rgba(75, 192, 192, 1)',
    //                 borderWidth: 1
    //             }]
    //         },
    //         options: {
    //             scales: {
    //                 y: {
    //                     beginAtZero: true
    //                 }
    //             }
    //         }
    //     });




        var ctx = document.getElementById('totalsalarychart').getContext('2d');
        // var labels = {{ labels|safe }};
        var total_salary = document.getElementById('total_salary').textContent;

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  ['Salario total'],
                datasets: [{
                    label: 'Salario Total',
                    data: total_salary,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        var ctx = document.getElementById('AverageHoursByMonth').getContext('2d');
        var labels = document.getElementById('labels').textContent;
        var data1 = document.getElementById('data').textContent;

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  labels,
                datasets: [{
                    label: 'Promedio de horas por mes',
                    data: data1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

</script>
{% endblock %}
